<!DOCTYPE html>
<html>
    <head>
        <p>Header of the email</p>
        <p>Sent from :</p>
        <p>Sent to :</p>
        <br>
    </head>
    
    <body>
        <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
        <br>
        <p><%= @body %></p>
    </body>
    
</html>